.photo-with-arrows {
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow {
  font-size: 6rem;
  color: gray;
  cursor: pointer;
}

.photos {
  width: 40rem;
  height: 30rem;
  margin: 0 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.photo img {
  max-width: 40rem;
  max-height: 30rem;
}

img {
  display: block;
}

.hidden {
  display: none;
}

.hidden-with-space {
  visibility: hidden;
}
