body {
  font-family: 'Helvetica', sans-serif;
  padding: 1rem 3rem;
  background-color: rgb(176, 193, 255);
}

p {
  margin-right: 12rem;
}

.photo-with-arrows {
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow {
  font-size: 6rem;
  color: gray;
  cursor: pointer;
}

.photos {
  width: 60vw;
  height: 60vh;
  margin: 0 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.photo img {
  max-width: 60vw;
  max-height: 60vh;
}

img {
  display: block;
}

.hidden {
  display: none;
}

.hidden-with-space {
  visibility: hidden;
}
